# Core functionality - changes here should be rare!
/src/app.py                   @marsmat239
/src/backend/database.py      @marsmat239
/src/backend/routers/auth.py  @marsmat239

# The frontend will need refactored soon to be more object oriented.
/src/static/   @marsmat239
